@import '../../colors.scss';

#chat-content {
  width: 80%;
  margin: auto;
  #search {
    text-align: center;
    input {
      width: 80%;
      height: 35px;
      margin: 0;
      padding: 0;
      border: none;
      border-bottom: 3px solid $green;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 15%;
      height: 39px;
      margin: 0;
      margin-left: 10px;
      padding: 0;
      vertical-align: middle;
      background-color: $green;
      border: none;
      border-radius: 15px;
      img {
        width: 50px;
        height: 90%;
        padding-top: 2px;
      }
    }
  }
}