@import '../../colors.scss';

#record-content {
  width: 80%;
  margin: auto;
  #search {
    text-align: center;
    input {
      width: 80%;
      height: 30px;
    }
    button {
      width: 18%;
      height: 35px;
    }
  }
  #record {
    #stats {
      margin-top: 20px;
      margin-bottom: 20px;
      #profile {
        all: revert;
        img {
          width: 95px;
          height: 95px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      #circle-chart {
        display: inline-block;
        vertical-align: middle;
        text {
          font-size: 0.5em;
          text-anchor: middle;
        }
      }
      span {
        padding-left: 20px;
        font-size: larger;
      }
    }
    #record-selector {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        font-size: large;
        margin-right: 6px;
        input[type=radio] {
          display: none;
        }
        input[type=radio]:checked + label {
          color: $green;
          border-bottom: 3px solid $green;
        }
      }
    }
  }
}