@import '../../colors.scss';

@keyframes circle-chart-animation {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: auto, 100;
  }
}

@keyframes search-button-animation {
  0% {
  }
  100% {
    transform: rotate(45deg);
  }
}

#record-content {
  width: 80%;
  margin: auto;
  #search {
    text-align: center;
    input {
      width: 80%;
      height: 35px;
      margin: 0;
      padding: 0;
      border: none;
      border-bottom: 3px solid $green;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 15%;
      height: 39px;
      margin: 0;
      margin-left: 10px;
      padding: 0;
      vertical-align: middle;
      background-color: $green;
      border: none;
      border-radius: 15px;
      img {
        width: 50px;
        height: 70%;
        padding-top: 2px;
      }
      &:hover {
        img {
          animation: search-button-animation 0.5s 2 alternate;
        }
      }
    }
  }
  #no-result {
    margin-top: 20px;
    img {
      width: 80px;
      height: 80px;
      vertical-align: middle;
      margin-right: 20px;
    }
    span {
      color: #bebebe;
    }
  }
  #record-close {
    margin-top: 10px;
    height: 60vh;
    #motd {
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      #message {
        margin-top: 20px;
        display: inline-block;
        width: 300px;
        height: 33%;
        background-color: $green;
        border-radius: 12px;
        #you-know-that {
          border-bottom: 3px solid green;
          width: calc(100% - 40px);
          margin: auto;
          margin-top: 3px;
          padding: 10px;
          color: #fff;
        }
      }
    }
    #ladder-rank {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      width: 300px;
      height: calc(100% - 20px);
      float: right;
      background-color: $green;
      border-radius: 12px;
      li {
        list-style: none;
        color: $green;
        margin: 10px;
        width: calc(100% - 20px);
        background-color: #fff;
        border-radius: 12px;
        display: inline-flex;
        justify-content: space-between;
        img {
          width: 40px;
          height: 40px;
          padding: 5px;
          border-radius: 50%;
        }
        #nick {
          width: 55px;
          margin-top: 17px;
        }
        svg {
          width: 100px;
          height: 50px;
          border-radius: 15px;
        }
        #percentage {
          width: 40px;
          margin-top: 17px;
        }
      }
      overflow: auto;
    }
  }
  #record-open {
    #stats {
      margin-top: 20px;
      margin-bottom: 20px;
      #profile {
        all: revert;
        img {
          width: 95px;
          height: 95px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      #circle-chart {
        display: inline-block;
        vertical-align: middle;
        svg {
          #percentage {
            animation: circle-chart-animation 3s;
          }
        }
        text {
          font-size: 0.5em;
          text-anchor: middle;
        }
      }
      span {
        padding-left: 20px;
        font-size: larger;
      }
    }
    #record-selector {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        font-size: large;
        margin-right: 10px;
        input[type=radio] {
          display: none;
        }
        input[type=radio]:checked + label {
          color: $green;
          border-bottom: 3px solid $green;
        }
      }
    }
    #record-list {
      margin: 0;
      padding: 0;
      color: #fff;
      #log {
        margin-top: 5px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        img {
          width: 81px;
          height: 81px;
        }
        #player {
          img {
            display: inline;
            width: 67px;
            height: 67px;
            padding: 7px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        #game-info {
          padding: 3px;
          div {
            border-left: 0.5px solid rgba(255, 255, 255, 0.3);
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}