#whole-container {
  margin: 25px;
	margin-top: 35px;
	width: 80%;

  #friend-list {
    background-color: blanchedalmond;
		height: 50%;
  }
	
  #banned-list {
    background-color: burlywood;
		height: 50%;
  }
}