.modal {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(15, 17, 16, 0.75);
  .content {
    position: relative;
    width: 100vw;
    max-width: 800px;
    height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
    background-color: #fff;
    overflow: auto;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
    overflow: hidden;
    .modal-closer {
      position: relative;
      float: right;
      width: 30px !important;
      height: 30px !important;
      padding: 10px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
        transform: rotate(180deg);
        transition: all 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: calc(100% - 40px);
    padding-bottom: 15px;
  }
}
