.menu {
  background: #5bc995;
  color: #fff;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

  .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;

    img {
      width: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid #ffea92;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    }

    h2 {
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;

    li {
      padding: 0.5em 1em 0.5em 3em;
      font-size: 0.95em;
      font-weight: regular;
      background-repeat: no-repeat;
      background-position: left 15px center;
      background-size: auto 20px;
      transition: all 0.15s linear;
      cursor: pointer;

      &.icon-record {
        background-image: url("http://www.entypo.com/images/line-graph.svg");
      }
      &.icon-match-game {
        background-image: url("http://www.entypo.com/images/controller-play.svg");
      }
      &.icon-users {
        background-image: url("http://www.entypo.com/images/users.svg");
      }
      &.icon-settings {
        background-image: url("http://www.entypo.com/images/tools.svg");
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;

    .avatar {
      padding: 0.5em;
      position: relative;
      img {
        width: 90px - 30px;
      }

      h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 90px + 10px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
      }

      &:hover {
        h2 {
          opacity: 1;
          transform: translate3d(0px, -50%, 0);
        }
      }
    }

    ul {
      li {
        height: 90px/1.5;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
        margin-top: 20px;
        padding: 0.8em;

        span {
          opacity: 0;
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          padding: 0.2em 0.5em;
          border-radius: 4px;
          top: 50%;
          left: 90px - 10px;
          transform: translate3d(-15px, -50%, 0);
          transition: all 0.25s ease-in-out;

          &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: -5px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid rgba(0, 0, 0, 0.5);
            transform: translateY(-50%);
          }
        }

        &:hover {
          span {
            opacity: 1;
            transform: translate3d(0px, -50%, 0);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }

  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;

    ul {
      li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
      }
    }

    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
  }
}
