div.chat-invite-content {

  div.invite-header {

    h2.invite-title {
      margin-left: 20px;
    }

    div.invite-input-container {
      display: flex;
      justify-content: center;
      margin: 30px 0;

      input.invite-input {
        border: none;
        border-bottom: solid 2px black;
        width: 50%;
      }

      button.invite-search-btn {
        color: #fff;
        font-size: 1rem;
        background-color: #3164ff;
        border: solid 2px #3164ff;
        border-radius: 6px;
        cursor: pointer;
        padding: 5px 19px;
        margin-left: 10px;

        &:hover {
          background-color: rgb(242, 245, 255);
          color: rgb(49, 100, 255);
        }
      }
    }
  }

  div.invite-result {
    margin: 15px 20px;

    li.invite-result-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      .ci-user-info {
        display: flex;
        .ci-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border-style: solid;
          border-width: 2px;
          border-color: white;
          box-shadow: 0 0 3px rgb(122, 122, 122);
          margin-top: 3px;
        }
  
        .ci-user-info-text {
          margin-top: 3px;
        }
  
        div {
          .ci-nickname {
            display: block;
            margin-left: 10px;
            font-weight: bold;
            font-size: 13pt;
            margin-top: 2px;
          }
  
          .ci-title {
            margin-top: 4px;
            font-style: italic;
            font-size: 9pt;
            font-weight: bold;
            color: rgb(194, 194, 194);
            margin-left: 10px;
            margin-right: 5px;
          }
  
          .ci-title-icon {
            width: 13px;
            height: 13px;
            margin-top: 6px;
            margin-left: 2px;
          }
        }
      }
  
      .ci-button-container {
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: center;

        .ci-invite-btn {
          font-size: 12pt;
          font-weight: bold;
          color: rgb(179, 176, 176);
          margin: 0;
        }
      }
    }
  }
}