html {
  margin: 0;
  padding: 0;
  //Text�� ���� �巡������ ���ϵ��� ������
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  body {
    margin: 0;
    padding: 0;
    background-color: #282438;
    overflow: hidden;
  }
}