html {
  margin: 0;
  padding: 0;
  //Text들 전부 드래그하지 못하도록 설정함
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  //scroll bar custom design
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #5bc995;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #5bc995;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4daa7e;
  }

  body {
    margin: 0;
    padding: 0;
    background:#ffea92;
    overflow: hidden;
  }
}