div.ingame-match-info {
	display: flex;
	width: 730px;
	height: 70px;
	line-height: 70px;
	justify-content: space-around;
	font-size: 30px;
}

div.left-player {
	display: flex;
	justify-content: space-around;
}

div.right-player {
	display: flex;
	justify-content: space-around;
}

div.ingame-side-bar {
	position: absolute;
	right: 0;
	width: 70px;
	height: 550px;
}

div.ingame-footer {
	position: absolute;
	bottom: 0;
	width: 730px;
	height: 80px;
}

div.left-player-nickname {
	font-size: 20px;
	margin-left: 40px;
}

div.left-player-score {
	font-size: 30px;
	margin-left: 100px;
}

div.left-player-profile {
	width: 50px;
	height: 50px;
	img {
		width: 50px;
		height: 50px;
		margin-top: 10px;
	}
}

div.right-player-nickname {
	font-size: 20px;
	margin-right: 40px;
}

div.right-player-score {
	font-size: 30px;
	margin-right: 100px;
}

div.right-player-profile {
	width: 50px;
	height: 50px;
	img {
		width: 50px;
		height: 50px;
		margin-top: 10px;
	}
}

div.view-number {
	margin-left: 10px;
	margin-top: 30px;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

button.give-up {
	margin-left: 10px;
	margin-top: 50px;
	width: 50px;
	height: 30px;
	background-color: ghostwhite;
	border: 1px solid gray;
	border-radius: 5px;
	letter-spacing: 1px;
}

button.give-up:hover {
	color: ghostwhite;
	background-color: gray;
}


button.exit {
	width: 250px;
	height: 50px;
	margin-left: 240px;
	margin-top: 15px;
	background-color: ghostwhite;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 10px;
	font-size: 24px;
	letter-spacing: 3px;
}

button.exit:hover {
	color: ghostwhite;
	background-color: gray;
}

canvas#ping-pong {
	width: 700px;
	height: 450px;
	border: 10px gray solid;
	margin-left: 10px;
}