@keyframes search-button-animation {
  0% {
  }
  100% {
    transform: rotate(45deg);
  }
}

a.start {
  display: block;
  width: 240px;
  height: 60px;
  text-decoration: none;
  background-color: ghostwhite;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  line-height: 60px;
}

a.start:hover {
  background-color: #828282;
}

button.map-btn-00 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 0px;
}

button.map-btn-01 {
  margin-left: -1px;
  margin-right: -1px;
}

button.map-btn-02 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0px;
}

div.map-btn-group button{
  width: 120px;
  height: 40px;
  border: 1px solid gray; 
  background-color: #323232; 
  color: ghostwhite;
  font-size: 20px;
  padding: 5px;
}

div.map-btn-group button:hover{
  border: 1px solid #646464;
  background-color: #646464; 
}

div.map-btn-group button:focus{
  border: none;
  outline:none;
  background-color: #828282; 
}

div#game-option-content {
  height: calc(100% - 40px);
  margin: 40px 40px 0 40px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  img.game-option-closer {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    animation: arrow-button-animation-in 0.5s;
    &:hover {
      animation: arrow-button-animation-out 0.5s;
    }
  }
  img.map-preview {
    width: 100%;
    height: 100%;
    grid-row: 1 / 7;
    grid-column: 2 / 10;
  }
  form.map-select-form {
    grid-row: 8 / 11;
    grid-column: 3 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}