div.admin-view {
  height: 100vh;
  margin-left: 240px;
  ul.question-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
    a.question {
      display: inline-block;
      margin: 1em;
      color: #fff;
      text-decoration: none;
      border: 0.01em solid rgba(255, 255, 255, 0.47);
      border-radius: 0.05em;
      width: 17em;
      padding: 1em;
    }
  }
}