#manage-friend {
  //scroll bar custom design
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 166, 179);
  }

  height: 100%;
  color: black;

  .selectors {
    border-bottom: solid 2.5px rgb(246, 246, 246);

    .top-bar {
      background-color: rgb(255, 96, 121);
      font-weight: bold;
      font-size: 15pt;
      height: 60px;
      color: white;
      line-height: 60px;
      padding-left: 20px;
    }

    .navigator {
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      text-align: center;

      label {
        font-weight: bold;
        padding-bottom: 5px;
      }

      .selector {
        width: 30%;
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .selected {
        border-bottom: solid 4px rgb(255, 96, 121);
        color: rgb(255, 96, 121);
      }

      .selector:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      .list-text:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .selected-list {
    height: 77%;
    overflow-y: scroll;

    ul {
      padding: 15px 0;
      margin: 0;

      li {
        list-style: none;
        height: 50px;
        display: flex;
        border-bottom: solid 1px rgb(246, 246, 246);
        margin: 0px 30px;
        padding: 5px 0px;
        justify-content: space-between;

        .fl-user-info {
          display: flex;

          .fl-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            border-color: white;
            box-shadow: 0 0 3px rgb(122, 122, 122);
            margin-top: 3px;
          }

          .fl-user-info-text {
            margin-top: 3px;
          }

          div {
            .fl-nickname {
              display: block;
              margin-left: 10px;
              font-weight: bold;
              font-size: 13pt;
              margin-top: 2px;
            }

            .fl-title {
              margin-top: 4px;
              font-style: italic;
              font-size: 9pt;
              font-weight: bold;
              color: rgb(194, 194, 194);
              margin-left: 10px;
              margin-right: 5px;
            }

            .fl-title-icon {
              width: 13px;
              height: 13px;
              margin-top: 6px;
              margin-left: 2px;
            }
          }
        }

        .fl-buttons {
          display: flex;
          align-items: center;
          width: 70px;
          justify-content: center;

          .fl-delete-friend {
            width: 20px;
            height: 20px;
            opacity: 0.4;
          }

          .fl-block-friend {
            width: 20px;
            height: 20px;
            opacity: 0.4;
            margin-left: 15px;
          }

          .bl-unblock {
            font-size: 12pt;
            font-weight: bold;
            color: rgb(179, 176, 176);
            margin: 0;
          }

          .bl-unblock:hover {
            cursor: pointer;
            color: black;
          }

          .fl-delete-friend:hover {
            cursor: pointer;
            opacity: 1;
          }

          .fl-block-friend:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
      li:hover {
        cursor: auto;
        background: #fff;
      }
    }
  }
}
