/*!
 * @author yochoi
 * @brief MainPage style for mobile
          Screen: 320px ~ 480px
          Device: mobile
          State: vertical
 */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main {
    height: auto;
    div#button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - 744px);
      margin: 0;
      padding: 0;
      a.buttons {
        width: 80% !important;
        height: auto !important;
        margin: 70px !important;
        padding: 0;
        text-align: center;
        border-radius: 20px;
        font-size: 100px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: rgba(29, 13, 13, 0.1);
        }
        span {
          color: rgba(0, 0, 0, 0.2);
          display: block;
          margin: 10px 0;
        }
      }
    }
  }
}