@import "../../colors.scss";

main {
  height: 100vh;
  #button-container {
    margin-left: 240px;
    .buttons {
      margin: 0;
      padding: 0;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      font-size: 2em;
      font-weight: bold;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 0.2s;
      span {
        color: rgba(0, 0, 0, 0.2);
        font-size: 0.4em;
        display: block;
        margin: 10px 0;
      }
    }

    // .mp-explain-span {
    //   color: rgba(0, 0, 0, 0.2);
    //   font-size: 0.4em;
    //   display: block;
    //   margin: 10px 0;
      // 이게 아마도 내가 한 거 같은데?

    #record {
      background-color: #854EF6;
      display: inline-flex;
      width: 45%;
      height: 65vh;
      margin: 30px;
      margin-right: 0;
      &:hover {
        background-color: #663cb9;
      }
    }
    #chat {
      background-color: #0095ff;
      display: inline-flex;
      float: right;
      width: 45%;
      height: 65vh;
      margin: 30px;
      margin-left: 0;
      &:hover {
        background-color: #0075c9;
      }
    }
    #game {
      background-color: $green;
      display: flex;
      width: calc(100% - 60px);
      height: 25vh;
      margin: auto;
      &:hover {
        background-color: #3a8a4a;
      }
    }
  }
}
