@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

main {
  font-family: "NanumSquareRound", sans-serif;
  height: 100vh;
  #button-container {
    display: flex;
    margin-left: 240px;
  }
  .buttons {
    background: rgba(0, 0, 0, 0.2);
    color: #ffea92;
    margin: 150px 10px;
    padding: 5.2em 4em;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
    flex: 1;
    cursor: pointer;
    &:hover {
      background-color: rgba(29, 13, 13, 0.1);
    }

    span {
      color: rgba(0, 0, 0, 0.2);
      font-size: 0.4em;
      display: block;
      margin: 10px 0;
    }
  }
}
